    /* CSS Normalization */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  /* img,
  picture {
    width: 100%;
    display: block;
  } */
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Utility Classes */
  
  .container {
    max-width: 64rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .content {
    flex: 1 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  